@import "tailwindcss";
@import "aos/dist/aos.css";

.profile-dropdown {
  transition: all 0.2s ease;
}
.profile-dropdown:hover {
  transform: scale(1.05);
}

html, body {
  overflow: hidden; /* Prevent default browser scroll */
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Add to your global CSS if needed */
.no-scroll-x {
  overflow-x: hidden;
  max-width: 100vw;
}

