@import "tailwindcss";

.profile-dropdown {
  transition: all 0.2s ease;
}
.profile-dropdown:hover {
  transform: scale(1.05);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}
